fastapi
uvicorn
python-multipart
boto3
python-dotenv
prometheus-client
prometheus-fastapi-instrumentator
asyncio


# ---- ai packages ----
#torch
#diffusers 
#transformers 
#accelerate 
#torchvision 
#Pillow
